<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form|%>
    <div class="form-group">
        <%=form.label :Email%>
        <%= form.text_field :email, class: 'form-control', placeholder: 'Enter Your Email'%>
    </div><br>
    <div class="form-group">
        <%= form.submit "Reset Password", class: 'btn btn-primary'%>
    </div>

<%end%>